/* 公共模块 */
*{
  margin:0;
  padding:0;
}

ul{
  list-style: none;
}


.win-icon{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: #ff4c67;
  display: inline-block;
  vertical-align: middle;
}

.side-image{
  width:24px;
  height:24px;
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size:1rem;
}

#desktop-wrap{
  display: flex;
  justify-content: space-between;
  height:100vh;
}

/* 左侧导航栏 */

#desktop-side{
  text-align: center;
  width:50px;
  height:100%;
  background-color: #E198AC;
  color:#fff;
  font-weight: bold;
  font-size:1.2rem;
  position: relative;
}

#desktop-side #logo{
  font-weight: bold;
  margin:10px 0 30px 0;
  font-size:12px;
}

#desktop-side .desktop-side-ul li{
  margin:20px 0;
  background-color: #E198AC;
}

#desktop-side .desktop-side-ul li:hover{
  opacity: 0.7;
}

#desktop-side .side-bottom{
  position: absolute;
  bottom:18px;
  left:50%;
  margin-left: -15px;
}

#desktop-side .side-bottom .setting{
  margin-bottom:20px;
}

#desktop-side .side-bottom .userinfo{
  width: 36px;
  height: 36px;
  background-color: #FFDFE4;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}

#desktop-side .side-bottom .userinfo img{
  margin-top:-10px;
}

/* 右侧界面 */
#desktop-right{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}

.side-right{
  padding:20px;
}


/* 窗口标题栏设置 */
#desktop-right .desktop-header{
  height: 54px;
  line-height: 54px;
  -webkit-app-region: drag;
  display: flex;
  background-color: #FEF4F5;
  color:#BBA5AD;
  align-items: center;
  justify-content: space-between;
}

#desktop-right .desktop-header .header-title .title{
  display: inline-block;
  font-size:30px;
  color:#F885A3;
  margin-left:10px;
  vertical-align: middle;
}

#desktop-right .desktop-header .header-title .total{
  display: inline-block;
  font-size:20px;
  margin-left:3px;
  vertical-align: middle;
}

#desktop-right .desktop-header .header-title{
  width:200px;
}

#desktop-right .desktop-header .searchipt,.header-btn{
  flex:1;
}

#desktop-right .desktop-header .header-rightset{
  width:180px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#desktop-right .desktop-header span,input,button,i,img{
  -webkit-app-region: no-drag;
}

#desktop-right .desktop-header .searchipt input{
  font-size:12px;
  height:32px;
  padding:4px 8px;
  outline: none;
  border: none;
  background-color: #fff;
  width: 360px;
  color:#BBA5AD;
  margin-left:20px;
  border-radius: 3px;
}

#desktop-right .desktop-header .header-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#desktop-right .desktop-header .header-btn button{
  height:34px;
  line-height: 34px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width:100px;
  color:#BBA5AD;
  margin:0 5px;
  font-family: Microsoft YaHei;
}

#desktop-right .desktop-header .header-rightset .header-icon-wrap{
  padding:0 12px;
  border-left:1px solid rgb(78, 78, 78);
  height: 24px;
  line-height: 24px;
  margin-left:12px;
  margin-right:15px;
}

/* 底部导航栏 */
#desktop-right .desktop-footer{
  height: 28px;
  line-height: 28px;
  background-color: #FEF4F5;
  color:rgb(66, 66, 66);
  font-size:12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#desktop-right .desktop-footer .footer-version,.footer-autosolve{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#desktop-right .desktop-footer .footer-version{
  margin-right:10px;
  margin-left:5px;
}

#desktop-right .desktop-footer .footer-version .version{
  padding: 0 8px;
  margin-left:8px;
  border-left:1px solid rgb(80, 80, 80);
  display:inline-block;
  height:16px;
  line-height: 16px;
}

/* 任务模块界面 */

#desktop-right #task-page{
  flex:1;
  display:flex;
}

#desktop-right #task-page .task-state{
  width:180px;
  height:100%;
  background-color: #FFDFE4;
}

#desktop-right #task-page .task-interface{
  flex:1;
  height:100%;
  background-color: #FFDFE4;
  display: flex;
  flex-direction: column;
}

#desktop-right #task-page .task-interface .task-interface-pagewrap{
  height:8%;
  background-color: #FEF4F5;
  width: 100%;
}

#desktop-right #task-page .task-interface .task-page{
  flex:1;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  width:100%;
}

#desktop-right #task-page .task-interface .task-page .no-task{
  color:#C7A2AC;
  font-size:15px;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 底部功能模块栏 */

#desktop-right .function-bottom{
  color:#C7A2AC;
  background-color:#FFDFE4;
  height:50px;
  width:100%;
  line-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

#desktop-right .function-bottom .function-icon{
  width:60px;
  height:60px;
  border-radius: 50%;
  position: absolute;
  top:-5px; 
}



#desktop-right .function-bottom .function-icon .function-icon-circle{
  width:52px;
  height:52px;
  background-color: #FEEBEF;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-26px;
  margin-top:-26px;
}


#desktop-right .function-bottom .function-icon .function-icon-circle img{
  position: absolute;
  left:50%;
  margin-left: -15px;
  top:50%;
  margin-top:-15px;
  width:30px;
  height:30px;
}

#desktop-right .function-bottom .function-bottom-captcha{
  text-align: center;
  height:32px;
  line-height:32px;
  background-color:#FEEEF1;
  font-size:14px;
  color:#C7A2AC;
  margin-left:15px;
  margin-right:15px;
  width:150px;
  border-radius: 5px;
  border:none;
  outline: none;
  font-size:14px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#desktop-right .function-bottom .function-bottom-captcha .captcha-state{
  width:14px;
  height:14px;
  border-radius: 50%;
  background-color: #F6941E;
  position: relative;
  margin-right:5px;
}

#desktop-right .function-bottom .function-bottom-captcha .captcha-state div{
  position: absolute;
  width:4px;
  height:4px;
  border-radius: 50%;
  left:50%;
  top:50%;
  margin-left:-2px;
  margin-top:-2px;
  background-color: #fff;
}

#desktop-right .function-bottom .function-bottom-delay{
  display: flex;
  align-items: center;
  margin-left:10px;
}

#desktop-right .function-bottom .function-bottom-delay label{
  height:32px;
  line-height: 32px;
  margin-right:6px;
  margin-bottom:0;
}

#desktop-right .function-bottom .function-bottom-delay input{
  height:32px;
  outline: none;
  border: none;
  width:120px;
  border-radius: 3px;
  padding: 0 4px;
}

